/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require agency
 *= require_self
 */




.navbar-default {
    border-color: rgba(34,34,34,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;

}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
    color: #ccffff;

}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #CCFF99;
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #ccffff;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #CCFF99;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #ccffff!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: rgba(0,0,0,.5);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(255,255,255,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #fff;
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: rgba(0,0,0,.5);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 14px;
        color: rgba(43, 70, 133, 1);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: rgba(43, 70, 133, 1);
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #222;
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: rgba(43, 70, 133, 1);
    }
}

body {
	
	background-color: #003333;
    width: 100%;
    height: 100%;
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    color: #cfeae6;

}

hr {
    border-width: 2px;
}

hr.light {
    border-color: #fff;
}

a {
    color: #cfeae6;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #CCFF99;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    border-color: rgba(26, 49, 108,1);
    color: #fff;
    background-color: rgba(26, 49, 108,1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    color: #cfeae6;
}

h2 {
    font-size: 60px;
}
p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #cfeae6;
}

.simple_form label {
 
  text-align: center;
  color: #cfeae6;
}

strong {
    color: #CCFF99;
    font-size: 20px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-transform: uppercase;
}




m {
    color: #ccff99;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    text-transform: uppercase;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

body {
    webkit-tap-highlight-color: #222;
}

 #map { position:absolute; max-width: none; min-width: 0px; top:0; bottom:0; height: 500px; width: 100%; }



html,body {
  height:100%;
}

h1 {
    font-family: 'Permanent Marker', cursive;
  font-size:80px;
  color: #ccffff;
  text-shadow: 4px 4px rgba(0,0,0,1);
  margin: -20px;
}

.lead {
    color: rgba(255,255,255,1);
    text-shadow: 3px 3px rgba(0,0,0,1);
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    margin: 20px;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-image: url("https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xft1/v/t35.0-12/11416770_10154833498163647_1313749686_o.jpg?oh=6a2ea60b460480085348081e3f53b1c6&oe=557A84E6&__gda__=1434152803_0ffa718b5f31af23f871d9ec9d4f33d8");
  background-size: cover;
  color: #cfeae6;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.footer a {
    padding: 0 0 0 0;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

}

h6 {
    color: #CCFF99;
}




/*https://2010sdafrika.files.wordpress.com/2012/01/bild-2.jpg*/
/*http://cooperart.co.za/index.php/gallery/south-african-landscape-paintings/image?view=image&format=raw&type=orig&id=30*/

/*http://media.withtank.com/caccac6f98/township.jpg*/

/*http://www.stribal.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/B/o/Boyi_Molefe_Stribal_Art_Online_Art_Stribal_Handmade009_1.jpg*/
  


